{% extends "base.html.twig"%}
{% block title %}Index{% endblock %}
{% block head %}
    {{ parent() }}

{% endblock %}
{% block body %}
    <section class="section_prono premiums" style="margin-top: 3rem;">
        <div class="article">
            <article class="home__article">
                <div class="row">
                    <section class="premium-benefits" >
                        <h1 class="premium-page__section-header">Qu'allez vous gagner avec parieurdumonde?</h1>
                        <div class="premium-benefits__boxes">
                            <div class="col-1-of-4 premium-benefits__box">
                                <h2 class="premium-benefits__box-header titre" style="color:#feb43b!important">Pronostics de bonne qualité de notre équipe </h2>
                                <span class="premium-benefits__box-description">L'équipe professionnelle de parieurdumonde partage avec vous des pronostics sure.</span>
                            </div>
                            <div class="col-1-of-4 premium-benefits__box">
                                <h2 class="premium-benefits__box-header titre" style="color:#feb43b!important">Pronostics à votre adresse e-mail</h2>
                                <span class="premium-benefits__box-description">Nous vous informons par email afin que vous ne manquiez aucun pronostics</span>
                            </div>
                            <div class="col-1-of-4 premium-benefits__box">
                                <h2 class="premium-benefits__box-header titre" style="margin-bottom: 2.2rem;color:#feb43b!important">Analyse détaillé</h2>
                                <span class="premium-benefits__box-description">Nous vous aidons dans l'analyse de vos propres pronostics
                        </span>
                            </div>
                            <div class="col-1-of-4 premium-benefits__box">
                                <h2 class="premium-benefits__box-header titre" style="margin-bottom: 2rem;color:#feb43b!important">Haut rendement</h2>
                                <span class="premium-benefits__box-description">Nos pronostics sont rentables.Vous avez droit à un coupon cotes 3-5 par jour et une cotes 20-30 par semaine. </span>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="row home__article--text">

                    <p>
                        Pour être clair, l'abonnement est un  complément facultatif et n'affectera pas notre contenu comme les articles pratiques et les 10 pronostics gratuits. alors ne vous inquiétez pas si vous n'êtes pas en mesure de vous inscrire maintenant!
                    </p>
                    <p>
                        Mais pour les utilisateurs qui veulent aller plus loin,Parieurdumonde propose une vaste sélection d'articles perspicaces couvrant toutes sortes de sujets, avec des pronostics dénichés par nos expères.
                    </p>
                    <p>
                        Enfin, l'inscription à Parieurdumonde VIP est un excellent moyen de nous soutenir si vous aimez ce que nous faisons ici! Nous sommes une toute petite équipe et nous apprécions chaque lecteur. L'abonnement est le meilleur moyen de nous aider à continuer ce que nous faisons.
                    </p>
                    <h2>Combien ça coûte?</h2>
                    <p style="text-align: center">Parieurdumonde VIP coûte simplement 2000 FCFA soit  3.05 euro par mois</p>
                    <div class="pro_cote" style="text-align: center;">
                        <a class="pdm_cote-link" href="{{ path('pronostics_premium_paiement') }}" >
                            <span class="value-cote" style="font-size:16px ;text-align: center;display: block;float:none!important;">Payer maintenant </span>

                        </a>

                    </div>
                </div>

                <div class="row">
                    <section class="premium-page__informations home__article--text">

                        <div class="premium-page__info">
                            <h1 class="premium-page__info-header">Qu'es-ce que parieurdumonde VIP ?</h1>
                            <p class="premium-page__info-description"> parieurdumonde VIP vous aide à trouver les meilleures cotes pour vos paris.
                                                        </p>
                        </div>


                        <div class="premium-page__info">
                            <h1 class="premium-page__info-header">
                                Comment vais-je voir les prévisions après être devenu membre VIP ?</h1>
                            <p class="premium-page__info-description">Cliquez simplement sur devenez membre VIP sur la page pronostics mais veillez vous connectez d'abord. Ensuite, vous pouvez voir les prévisions, les articles et les statistiques sur la page que vous verrez. Si vous ne voulez pas manquer les pronostics , il vous suffit de visiter régulièrement la page vip en étant connecté ou de vérifier l'adresse e-mail dont vous êtes membre de Parieurdumonde..
                            </p>
                        </div>
                        <div class="premium-page__info">
                            <h1 class="premium-page__info-header">Serai-je riche avec parieurdumonde VIP ?</h1>
                            <p class="premium-page__info-description">Honnêtement, non. Nous vous aiderons à augmenter vos gains du pari, mais nous ne partagerons pas les matchs "100% sûre" et nous sommes sûrs que personne ne peut le faire. Avec Parieurdumonde VIP, vous apprendrez également à choisir des paris plus précis et à mieux comprendre le monde des paries sportifs . En d'autres termes, nous  apprendrons également à pêcher tout en donnant du poisson prêt..
                            </p>
                        </div>


                    </section>

                    <section class="payement ">

                        <h2>Mode de payement  actuellement disponible </h2>


                        <div class="row">
                            <div class="col-1-of-4 col1">
                                <img src="{{ asset('images/mtn-mobile_money.jpg') }}" alt="">


                            </div>
                            <div class="col-1-of-4 col2">
                                <img src="{{ asset('images/flooz.png') }}" alt="">

                            </div>
                            <div class="col-1-of-4 col3">
                                <img src="{{ asset('images/paypal.png') }}" alt="" width="250px">

                            </div>
                            <div class="col-1-of-4 col4">
                                <img src="{{ asset('images/perfectmoney.jpg') }}" alt="" width="250px">

                            </div>
                        </div>

                    </section>
                </div>
                <div class="row">
                    <p style="text-align: center;font-size:16px; ">
                        Nous répondons aux questions les plus courantes.
                        Si vous avez d'autres questions, remplissez le <a href="{{ path('contact') }}" style="color:#2b6dad;">formulaire de contact ici</a> .
                    </p>
                </div>

            </article>
        </div>

    </section>
{% endblock%}
{% block javascripts %}
    <script src="https://www.paypal.com/sdk/js?client-id=AVsCy_UG1_ESjIFJ5B_1uCA6QPN6P1cbshB7da2bL3UyQB0GMijltWeYTd3zSwGThSxaROKkOSRgKXOR"></script>
    <script>paypal.Buttons().render('.value-cote');</script>
{% endblock %}




