{% extends "base.html.twig"%}
{% block title %}Index{% endblock %}
{% block head %}
    {{ parent() }}

{% endblock %}
{% block body %}

    <section style="margin-top: 3rem">
        <div class="row">
            <div class="col-2-of-3 ">
                <div class="article">
                    <article class="home__article">

                        <h1>
                            <span class="titre article-titre">{{ news.titre }}</span>
                        </h1>
                        <div class="post_comment-box">
                                    <span class="infopost">Publier  <span class="date">le </span> par <a
                                                href="#">{{ news.auteur }}</a></span>
                            <span class="comment">&nbsp;</span>

                        </div>
                        <div class="clr"></div>
                        <div class="home__article--text">
                            {% set article=news.contenu %}


                            {% autoescape %}
                                {{ article|raw }}
                            {% endautoescape %}
                        </div>
                        <div class="share-social">
                            <ul class="social-link">
                                <li class="social-item">
                                    <span style="display: inline-block;padding-top: 10px">partager</span>
                                </li>
                                <li class="social-item">
                                    <a title="partager sur facebook" class="facebook share_facebook" href="" data-url="https:\\parieurdumonde.com?{{ news.titre }}">
                                        <span class="ion"><i class="fa fa-facebook"></i> </span>
                                        {#<span class="text">facebook</span>#}
                                    </a>
                                </li>
                                <li class="social-item">
                                    <a title="partager sur twitter" class="twitter share_twitter" href="" data-url="http:\\parieurdumonde.com?{{ news.titre }}">
                                        <span class="ion"><i class="fa fa-twitter"></i> </span>
                                        {#<span class="text">facebook</span>#}
                                    </a>
                                </li>
                                <li class="social-item">
                                    <a title="partager sur instagram" class="instagram share_instagram" href="" data-url="http:\\parieurdumonde.com?{{ news.titre }}">
                                        <span class="ion"><i class="fa fa-instagram"></i> </span>
                                        {#<span class="text">facebook</span>#}
                                    </a>
                                </li>
                                <div class="right-block" style="float: right">
                                    <li>
                                        <span style="display: inline-block;padding-top: 10px"> Vues <i class="fa fa-eye">&nbsp;&nbsp;{{ findPage.NbVisite }}&nbsp;</i></span>

                                    </li>
                                </div>

                            </ul>

                        </div>




                    </article>
                </div>



            </div>
            <div class="col-1-of-3 media">
                <aside class="aside_right">
                    <div class="aside_right-content">
                        <div class="aside_popu">
                            <div class="aside_header">
                                <h3 class="h2_heading">Articles similaires</h3>
                            </div>

                            <div class="content">

                                <ul class="similaire">
                                    {% if similarStractegies is iterable %}
                                    {% for similair in similarStractegies %}


                                        <li>
                                            <span> <a href="{{ path('app_strategie_show',{id:similair.id,slug: managers.slugify(similair.slug)}) }}">{{ similair.titre }}</a></span>
                                        </li>
                                    {% endfor %}
                                    {% endif %}
                                </ul>
                            </div>

                        </div>
                        {{ include('_mesVideo.html.twig') }}



                    </div>

                </aside>
            </div>
        </div>


    </section>
{% endblock %}
