{% extends "base.html.twig"%}
{% block title %}Index{% endblock %}
{% block head %}
    {{ parent() }}

{% endblock %}
{% block body %}
    <section class="contact connect">
        <div class="sigin-body">
            <div class="forum_cont signin-container">
                <div class="row">


                        <div class=''>
                            <div class="card signin-card">
                                <div class="card-block">
                                    <div class="connexion_header" style="text-align: center">
                                        <div class="connxion_title">
                                            <h2>Récupérer votre mot de passe</h2>
                                        </div>

                                    </div>
                                    {{ form_start(resetForm) }}
                                    <div class="form-group ">
                                    {{ form_row(resetForm.plainPassword,{
                                        label: ' ','attr':{'class':'form-control','placeholder':'Entrer votre nouveau mot de passe'} }) }}
                                    </div>
                                    <div class="botton" style='margin-top: .5rem;display: inline-block'>
                                        <input type="submit" class="btn signin-btn btn-lg" name="password_submit" value="récupérer">

                                    </div>
                                    {{ form_end(resetForm) }}






                                    </form>
                                </div>
                            </div>
                        </div>


                </div>

            </div>
        </div>


    </section>
{% endblock %}



{#{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
    <h1>Reset your password</h1>

    {{ form_start(resetForm) }}
        {{ form_row(resetForm.plainPassword) }}
        <button class="btn btn-primary">Reset password</button>
    {{ form_end(resetForm) }}
{% endblock %}#}
