{% extends 'admin_base.html.twig' %}

{% block title %}Article index{% endblock %}

{% block body %}
    <h1>ForumSujet</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ forum_sujet.id }}</td>
            </tr>
            <tr>
                <th>Categorie</th>
                <td>{{ forum_sujet.categorie }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ forum_sujet.titre }}</td>
            </tr>
            <tr>
                <th>Contenu</th>
                <td>{{ forum_sujet.contenu }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('forum_sujet_index') }}">back to list</a>

    <a href="{{ path('forum_sujet_edit', {'id': forum_sujet.id}) }}">edit</a>

    {{ include('forum_sujet/_delete_form.html.twig') }}
{% endblock %}
