{% extends "base.html.twig"%}
{% block title %}Index{% endblock %}
{% block head %}
    {{ parent() }}

{% endblock %}
{% block body %}
    <section id="contact">
        <div class="" style="margin: 0 auto;">


            <div class="forum_cont signin-container">
                <div class="sign_body">
                    <div class="form-header" style="margin-bottom: 3rem">
                        <h2>Contact</h2>
                    </div>
                    {{ form_start(ContactForm,{'attr':{'class':'contact-form','style':'padding-top: 3rem'}}) }}


                        <div class="form-group">
                            <div class="row">
                                <div class="col-1-of-2 mb0 i-mb0">
                                    <div class="form-label-group">
                                        {{ form_row(ContactForm.nom
                                            ,{label:' ','attr':{'class':'form-control Inputname','placeholder':'votre nom'}

                                            }) }}

                                    </div>
                                </div>
                                <div class="col-1-of-2">
                                    <div class="form-label-group">
                                        {{ form_row(ContactForm.email
                                            ,{label:' ','attr':{'class':'form-control Inputname','placeholder':'votre email'}

                                            }) }}


                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="form-label-group">
                                    {{ form_row(ContactForm.site
                                        ,{label:' ','attr':{'class':'form-control Inputname','placeholder':'votre email'}

                                        }) }}


                                </div>

                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">

                                <div class="form-group">
                                    {{ form_row(ContactForm.message
                                        ,{label:' ','attr':{'class':'form-control Inputname','placeholder':'Votre  message'}

                                        }) }}
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row botton ">
                                <input type="submit" name="contact" value="envoyer" class="btn signin-btn btn-lg">
                            </div>
                        </div>
                    {{ form_end(ContactForm) }}

                </div>
            </div>


        </div>
    </section>

{% endblock %}