{%  if pagination.lastpage>1 %}
<div class="pagination">
    <span class='page_info' style="padding-bottom: 1rem;display: block">
            <b>Page {{ pagination.page }} sur {{ pagination.lastpage }}</b><br/>
            </span>
    {% if pagination.page>1 %}
        {% if precedent is defined%}

        <a href='{{ pagination.url }}{{ pagination.prev }}' class='page-numbers prev' rel="prev">{{ pagination.prevlabel }}</a>
    {% endif %}
    {% endif %}

    {% if pagination.lastpage< 7 + pagination.adjacents*2 %}
       {% set counter=0 %}
         {% for counter in counter..(pagination.lastpage-1) %}
             {% set counter = ( counter + 1) %}
             {% if counter==pagination.page %}
              <span aria-current="page" class="page-numbers current">{{ counter }}</span>
              {% else %}
                  <a href='{{ pagination.url }}{{ counter }}' class='page-numbers'>{{ counter }}</a>
              {% endif %}

             {% endfor %}
        {% elseif pagination.lastpage> (5 + pagination.adjacents*2) %}
         {% if pagination.page< (1 + pagination.adjacents*2) %}
             {% set counter=0 %}
              {% for counter in counter..((4+ pagination.adjacents*2)-1) %}
                  {% set counter = ( counter + 1) %}
                  {% if counter==pagination.page %}
                      <span class='current page-numbers'>{{ counter }}</span>
                      {% else %}
                          <a href='{{ pagination.url }}{{ counter }}' class='page-numbers' >{{ counter }}</a>
                  {% endif %}

              {% endfor %}
             <span class='dot'>...</span>
             <a href='{{ pagination.url }}{{ pagination.lpm1 }}' class='page-numbers'>{{ pagination.lpm1 }}</a>
             <a href='{{ pagination.url }}{{ pagination.lastpage }}' class='page-numbers' >{{ pagination.lastpage }}</a>


    {% elseif  (pagination.lastpage -pagination.adjacents*2> pagination.page) and (pagination.page>pagination.adjacents*2) %}
        <a href='{{ pagination.url }}1' class='page-numbers'>1</a>
        <a href='{{ pagination.url }}2' class='page-numbers'>2</a>
        <span class='dot'>...</span>
        {% set counter=pagination.page-pagination.adjacents %}
        {% for counter in counter..(pagination.page+pagination.adjacents) %}
            {% set counter = ( counter + 1) %}
            {% if counter==pagination.page %}
                <span aria-current="page" class='current page-numbers' >{{ counter }}</span>
                {% else %}
                    <a href='{{ pagination.url }}{{ counter }}' class='page-numbers'>{{ counter }}</a>
            {% endif %}
        {% endfor %}

        <span aria-current="page" class='dot'>..</span>
        <a href='{{ pagination.url }}{{ pagination.lpm1 }}' class='page-numbers'>{{ pagination.lpm1 }}</a>
        <a href='{{ pagination.url }}{{ pagination.lastpage }}' class='page-numbers'>{{ pagination.lastpage }}</a>";
        {% else %}

        <a href='{{ pagination.url }}1' class='page-numbers' >1</a>
        <a href='{{ pagination.url }}2' class='page-numbers' >2</a>
        <span class='dot'>..</span>
        {% set counter=pagination.lastpage - (2 + (pagination.adjacents*2)) %}
        {% for counter in counter..pagination.lastpage %}
            {% set counter = ( counter + 1) %}
            {% if counter==pagination.page %}
                <a aria-current="page" class='current page-numbers' >{{ counter }}</a>
            {% else %}
                <a href='{{ pagination.url }}{{ counter }}' class='page-numbers'>{{ counter }}</a>
            {% endif %}
        {% endfor %}

         {% endif %}






    {% endif %}
    {% if pagination.page<pagination.lastpage -1 %}
        {% if suivent is defined %}
        <a href='{{ pagination.url }}{{ pagination.next }}' class='page-numbers' rel="next">{{ pagination.nextlabel }}</a>
            {% endif %}
        {% if dernier is defined %}
        <a href='{{ pagination.url }}{{ pagination.lastpage }}' class='page-numbers' >{{ pagination.lastlabel }}</a>
        {% endif %}
        {% endif %}
</div>







    {% endif %}