{% extends 'admin_base.html.twig' %}

{% block title %}New Article{% endblock %}
 {% block head_stylesheets %}
     {{ parent() }}
     <link rel="stylesheet" href="{{ asset('admin/bootstrap-colorpicker.min.css') }}">
     <link rel="stylesheet" href="{{ asset('admin/select2-bootstrap4.min.css') }}">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
     <link rel="stylesheet" href="{{ asset('admin/select2.min.css') }}">
 {% endblock %}

{% block body %}
    {{ form_start(form) }}
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1> Ajouter article</h1>
                </div>
                <div class="col-sm-6">
                    <div class="breadcrumb float-sm-right">
                        {{ form_widget(form.sauvegarder,{
                            'attr':{'class':'btn btn-success float-right'}
                        }) }}
                        {#<button type="submit" class="btn btn-success float-right" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                            <i class="fa fa-minus"></i>Créer un nouvel article
                        </button>#}
                    </div>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <section class="content">

        <div class="row">
            <div class="col-md-6">
                <div class="card card-primary">
                   {# <div class="card-header">
                        <h3 class="card-title"></h3>

                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                                <i class="fa fa-minus">Create new Article</i></button>
                        </div>
                    </div>#}
                    <div class="form-group">
                        <label for="inputName">{{ form_label(form.titre) }}</label>
                        {{ form_widget(form.titre,{
                            'attr':{'class':'form-control','placeholder':'ma valeur'}
                        }) }}

                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label for="inputName">{{ form_label(form.titre) }}</label>
                            {{ form_widget(form.titre,{
                                'attr':{'class':'form-control'}
                            }) }}

                        </div>
                        <div class="form-group">
                            <label for="inputDescription">{{ form_label(form.contenu) }}</label>
                            {{ form_widget(form.contenu,{
                                'attr':{'class':'form-control','rows':'4'}
                            }) }}

                        </div>

                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <div class="col-md-6">
                <div class="card card-secondary">

                    <div class="card-body">
                        <div class="form-group">
                            <label for="inputEstimatedBudget">{{ form_label(form.slug) }}</label>
                            {{ form_widget(form.slug,{
                                'attr':{'class':'form-control'}
                            }) }}

                        </div>
                        <div class="form-group">
                            <label for="inputSpentBudget">{{ form_label(form.auteur) }}</label>
                            {{ form_widget(form.auteur,{
                                'attr':{'class':'form-control'}
                            }) }}
                        </div>
                        <div class="form-group">
                            <label for="exampleInputFile">{{ form_label(form.imageFile) }}</label>
                            <div class="input-group">
                                <div class="custom-file">
                                    {{ form_widget(form.imageFile,{
                                        'attr':{'class':'custom-file-input'}
                                    }) }}

                                </div>
                                <div class="input-group-append">
                                    <span class="input-group-text" id="">Upload</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputStatus">{{ form_label(form.imageTitre) }}</label>
                            {{ form_widget(form.imageTitre ,{
                                'attr':{'class':'form-control'}
                            }) }}
                        </div>
                        <div class="form-group">
                            <label for="inputClientCompany">{{ form_label(form.imageAlt) }}</label>
                            {{ form_widget(form.imageAlt ,{
                                'attr':{'class':'form-control'}
                            }) }}
                        </div>
                        <div class="form-group">
                            <label for="inputProjectLeader">{{ form_label(form.metaDesciption) }}</label>
                            {{ form_widget(form.metaDesciption ,{
                                'attr':{'class':'form-control'}
                            }) }}
                        </div>


                        <div class="form-group">
                            <div class="custom-control custom-switch">
                                {{ form_widget(form.published,{
                                    'attr':{'class':'custom-control-input'}
                                }) }}
{#                                <input type="checkbox" class="custom-control-input" id="customSwitch1" name="article[published]">#}
                                <label class="custom-control-label" for="article_published">{{ form_label(form.published) }}</label>
                            </div>
                        </div>

                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer">

                        <a class="btn btn-info btn-sm" href="{{ path('admin_article_index') }}">retour à la liste</a>



                    </div>
                </div>
                <!-- /.card -->
            </div>
        </div>



    </section>
    {{ form_rest(form) }}
    {{ form_end(form) }}

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('admin/jquery.inputmask.bundle.min.js') }}"></script>
    <script src="{{ asset('admin/select2.full.min.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
    <script>
        $(function () {
            //Initialize Select2 Elements
            $('.select2').select2()

            //Initialize Select2 Elements
            $('.select2bs4').select2({
                theme: 'bootstrap4'
            })

            //Datemask dd/mm/yyyy
            $('#datemask').inputmask('dd/mm/yyyy', { 'placeholder': 'dd/mm/yyyy' })
            //Datemask2 mm/dd/yyyy
            $('#datemask2').inputmask('mm/dd/yyyy', { 'placeholder': 'mm/dd/yyyy' })
            //Money Euro
            $('[data-mask]').inputmask()

            //Date range picker
            $('#reservationdate').datetimepicker({
                format: 'L'
            });
            $('.datepicker').datepicker();
            //Date range picker
            $('#article_created_at').daterangepicker()
            //Date range picker with time picker
            $('#reservationtime').daterangepicker({
                timePicker: true,
                timePickerIncrement: 30,
                locale: {
                    format: 'MM/DD/YYYY hh:mm A'
                }
            })
            //Date range as a button
            $('#daterange-btn').daterangepicker(
                {
                    ranges   : {
                        'Today'       : [moment(), moment()],
                        'Yesterday'   : [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                        'Last 7 Days' : [moment().subtract(6, 'days'), moment()],
                        'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                        'This Month'  : [moment().startOf('month'), moment().endOf('month')],
                        'Last Month'  : [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                    },
                    startDate: moment().subtract(29, 'days'),
                    endDate  : moment()
                },
                function (start, end) {
                    $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'))
                }
            )

            //Timepicker
            $('#timepicker').datetimepicker({
                format: 'LT'
            })

            //Bootstrap Duallistbox


        })
    </script>


{% endblock %}

