{% extends 'admin_base.html.twig' %}

{% block title %}Article index{% endblock %}

{% block body %}
    <h1>ForumReponse</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ forum_reponse.id }}</td>
            </tr>
            <tr>
                <th>Reponse</th>
                <td>{{ forum_reponse.reponse }}</td>
            </tr>
            <tr>
                <th>Created_at</th>
                <td>{{ forum_reponse.createdAt ? forum_reponse.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Topic</th>
                <td>{{ forum_reponse.topic }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('forum_reponse_index') }}">back to list</a>

    <a href="{{ path('forum_reponse_edit', {'id': forum_reponse.id}) }}">edit</a>

    {{ include('forum_reponse/_delete_form.html.twig') }}
{% endblock %}
